@use "../../App.scss";

.variousPage {
  background-color: App.$colorBG;
}

.titlePage {
  font-size: App.$fontSizeTitle;
  margin-top: 8%;
  margin-bottom: 2%;
  color: App.$colorSecondary;
  text-align: center;
}

.titlePage {
  font-family: App.$fontFamily;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.various {
  height: 65vh;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

//SMARTPHONE

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .titlePage {
    font-size: calc(App.$fontSizeTitle / 1.5);
    margin-top: 20%;
    margin-bottom: 2%;
  }
  .various {
    height: 40vh;
  }
}

// @media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {

// }

//PAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1249px) {
  .various {
    height: 90vh;
  }
  .titlePage {
    margin-top: 15%;
  }
}

//large screen

// @media only screen and (min-width: 1250px) {

// }
