@use "../../App.scss";

.factionTitleNeutr {
  font-size: calc(App.$fontSizeTitle / 1.2);
  padding-top: 5%;
  color: App.$colorNeutr;
  text-align: left;
  text-decoration: underline double App.$colorNeutr 2px;
  margin-left: 10%;
  font-family: App.$fontFamily;
}

.pictureBlockNeutr {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  // height: 45vh;
  // overflow: hidden
}

.nameCharNeutr {
  font-size: App.$fontSize;
  font-family: App.$fontFamily;
  padding-top: 0.5em;
  text-align: center;
  color: App.$colorNeutr;
}

.subnameCharNeutr {
  font-size: calc(App.$fontSize / 1.5);
}

.swiperNeutr > .swiper-pagination-bullets {
  --swiper-theme-color: rgb(83, 66, 51);
  height: 1em;
  width: 100%;
}

.swiper-pagination-bullet {
  height: 0.8em;
  width: 0.8em;
}

.slideButtonNeutr {
  border: none;
  background-color: transparent;
}

.nextButtonNeutr {
  margin-right: 20%;
}

.iconPrevNeutr,
.iconNextNeutr {
  font-size: calc(App.$fontSize * 2.5);
  color: App.$colorNeutr;
}

.prevButtonNeutr {
  margin-left: 20%;
}

.swiper-pagination-bullet {
  height: 0.3em;
  width: 0.3em;
}

//SMARTPHONE

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .factionTitleNeutr {
    font-size: calc(App.$fontSizeTitle / 2);
    margin-left: 5%;
    margin-top: 5%;
    font-family: App.$fontFamily;
  }
  .nextButtonNeutr {
    margin-right: unset;
  }
  .prevButtonNeutr {
    margin-left: unset;
  }
  .iconPrevNeutr,
  .iconNextNeutr {
    font-size: calc(App.$fontSize);
  }
  .nameCharNeutr {
    font-size: calc(App.$fontSize / 1.5);
  }
  .subnameCharNeutr {
    font-size: calc(App.$fontSize / 2);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1249px) {
  .factionTitleNeutr {
    font-size: calc(App.$fontSizeTitle / 1.5);
    margin-left: 5%;
    // margin-bottom: 5%;
  }
  .nextButtonNeutr {
    margin-right: 20%;
  }
  .prevButtonNeutr {
    margin-left: 20%;
  }
  .iconPrevNeutr,
  .iconNextNeutr {
    font-size: calc(App.$fontSize);
  }
  .swiper-pagination-bullet {
    height: 0.5em;
    width: 0.5em;
  }
  .pictureCharNeutr {
    height: 45vh;
    -webkit-filter: unset;
    filter: unset;
  }
  .pictureBlockNeutr {
    padding-top: 5%;
    margin-top: unset;
  }
}
