@use "../../App.scss";

.factionTitleNeutr {
  font-family: App.$fontFamily;
}

.factionTitleNeutr {
  font-size: calc(App.$fontSizeTitle / 1.2);
  padding-top: 2%;
  color: App.$colorNeutr;
  text-align: left;
  text-decoration: underline double App.$colorNeutr 2px;
  margin-left: 30%;
}

.pictureBlock {
  padding-top: 5%;
  display: grid;
  place-content: center;
}

.pictureChar {
  height: 35vh;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(10px 5px 20px black);
}

.nameChar {
  font-size: App.$fontSize;
  font-family: App.$fontFamily;
  padding-top: 0.5em;
  text-align: center;
  color: App.$colorTarg;
  height: 3.5em;
}

.subnameChar {
  font-size: calc(App.$fontSize / 1.5);
}

.swiperNeutr > .swiper-pagination-bullets {
  --swiper-theme-color: rgb(83, 66, 51);
  height: 1em;
  width: 100%;
}

.swiper-pagination-bullet {
  height: 0.8em;
  width: 0.8em;
}
