@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");

$colorBG: #e8e8e8;
$colorPrimary: #c7c7c7;
$colorSecondary: #009063;
$colorThird: #303030;
$colorFourth: #acaabc;
$colorTarg: rgb(107, 6, 6);
$colorNeutr: rgb(83, 66, 51);
$colorGuard: rgb(35, 6, 66);
$colorReb: rgb(200, 26, 32);
$colorVarious: #044d22b6;
$fontSize: 1.5rem;
$fontSizeTitle: 2.5rem;
$fontFamily: "Cormorant Upright", serif;
$pictureSize: 35vh;

:root {
  height: 100vh;
  background-color: $colorBG;
}
