@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");

$colorBG: #e8e8e8;
$colorPrimary: #dfdfdf;
$fontSize: 1.5rem;
$fontFamily: "Cormorant Upright", serif;

:root {
  height: 100vh;
  background-color: $colorBG;
}
